{%extends 'base.html'%} {% block head %}
<title>Home</title>
<link rel="stylesheet" href="index.css" />

{% endblock %} {% block body %}
<div class="jumbotron">
  <h1 class="display-4">Eduhub....📚</h1>
  <p class="lead">
    EduHub📚... is an platform where you get access to all the intresting
    content to all the edcation related content and
  </p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}
